* {
    margin: 0;
    padding: 0;
}

body {
    font-family: calibri, arial,sans-serif;
    background-color: #949494;
    color: #ffffff;
}

section {
    margin: 2em;
    min-height: 100vh;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: bold;
    font-size: 1.1em;
    height: 2.5em;
    background-color: #494949;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu li a:active, 
.menu li a:hover,
.menu li a:focus {
    border-bottom: 3px solid rgb(255, 156, 8);
    padding-bottom: 3px;
    transition: border-bottom 0.1s;
    }

footer {
    text-align: center;
    font-size: small;
    margin-top: 2em;
    padding: 1em;
    background-color: #494949;
}

label {
    vertical-align: middle;
    margin-left: 6px;
}

.tarjetero {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
    position: relative;
}

.tarjeta {
    flex-grow: 1;
    flex-basis: 350px;
    list-style: none;
    padding: 1em;
    background-color: #ffd08a;
    color: black;
    border: 2px solid #ffe0b2;
    border-radius: 7px;
    box-shadow: 5px 5px 20px #777777;
}

input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #494949;
    border-radius: 20%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

input[type=checkbox]:checked::after {
    background-color: none;
    content: '✔';
    color: #494949;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    line-height: 1;
}

#cronometro {
    display: flex;

}

#tiempo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 500px;
    font-size: 6em;
    aspect-ratio: 1/1;
    border-radius: 7px;
    border: 2px solid #ffe0b2;
    background-color: #ffd08a;
    color: black;
    box-shadow: 5px 5px 20px #777777;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#tiempo.activo {
    background-color: #ff891a;
    border-color: #ff9f46;
    color: #ffe0b2;
}

#cronometro div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#cronometro button {
    justify-content: center;
    height: 50px;
    width: 200px;
    border: 2px solid #ffe0b2;
    background-color: #ffd08a;
    border-radius: 7px;
    box-shadow: 5px 5px 20px #777777;
}

#cronometro button:hover {
    cursor: pointer;
    background-color: #ffb84d;
    transition: background-color 0.2s;
}

.agregarTarjeta {
    width: 50px;
    font-size: 1.5em;
    aspect-ratio: 1/1;
    border: 2px solid #ffba6b;
    background-color: #ffa845;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #777777;
    position: absolute;
    bottom: -20px; /* Jugando con los valores*/
    right: -20px;
}
.agregarTarjeta:hover {
    cursor: pointer;
    background-color: #ff891a;
    transition: background-color 0.2s;
}